.ico {
    width: 24px;
    height: 24px;
}

.pog {
    width: 124px;
    height: 43px;
}

.th{
  text-align: left;
}

input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}
input.ng-valid.ng-dirty {
    background-color: #78FA89;
}
fieldset.border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

legend.border {
    width:inherit;
    padding:0 10px;
    border-bottom:none;
}