.ico {
    width: 24px;
    height: 24px;
}

.pog {
    width: 124px;
    height: 43px;
}

.th{
  text-align: left;
}

input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}
input.ng-valid.ng-dirty {
    background-color: #78FA89;
}