body {
    padding-top: 50px;
/*    width: 900px!important;*/
}

.centerTxt {
    text-align:center;
}

.loginButton {
    width: 120px!important; 
}

.error {
    color: red;
}

#footer {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: blue;
}