<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    
    <session-factory>
        <mapping class="by.vsu.emdsproject.model.Speciality"/>
        <mapping class="by.vsu.emdsproject.model.Group"/>
        <mapping class="by.vsu.emdsproject.model.Address"/>
        <mapping class="by.vsu.emdsproject.model.Student"/>
        <mapping class="by.vsu.emdsproject.model.Subject"/>
        <mapping class="by.vsu.emdsproject.model.Teacher"/>
    </session-factory>

</hibernate-configuration>
