<div class="modal-header">
    <h3 class="text-center">Специальность</h3>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="_id">ВУС:</label>
            <input type="text" class="form-control" id="_id" placeholder="ВУС" ng-model="specialty._id">
        </div>
        <div class="form-group">
            <label for="description">Описание:</label>
            <input type="text" class="form-control" id="description" placeholder="Описание" ng-model="specialty.description">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Сохранить</button>
    <button class="btn btn-warning" ng-click="cancel()">Отмена</button>
</div>