<div id="content-header">
    <h1>{{label}}</h1>
</div>
<div class="alertbox">
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
</div>
<table class="table table-condensed">
    <thead>
    <tr class="row">
        <th class="col-sm-7">Студент &nbsp;&nbsp;&nbsp;&nbsp; Факультет
            <select id="faculty" ng-model="faculty" ng-change="readStudents(pageNumber)">
                <option value="">Все факультеты</option>
                <option value="Математический">Математический</option>
                <option value="Физический">Физический</option>
                <option value="Физической культуры и спорта">Физической культуры и спорта</option>
                <option value="Биологический">Биологический</option>
                <option value="Исторический">Исторический</option>
                <option value="Социальной педагогики и психологии">Социальной педагогики и психологии</option>
                <option value="Филологический">Филологический</option>
                <option value="Белорусской филологии и культры">Белорусской филологии и культры</option>
                <option value="Юридический">Юридический</option>
                <option value="Художественно-графический">Художественно-графический</option>
                <option value="Педагогический">Педагогический</option>
            </select>
        </th>
        <th class="col-sm-2">Группа
            <select id="group" ng-model="group" ng-change="readStudents(pageNumber)">
                <option value="">Все</option>
                <option ng-repeat="g in groups">{{g._id}}</option>
            </select>
        </th>
        <th class="col-sm-1"></th>
        <th class="col-sm-1"></th>
        <th class="col-sm-1"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="student in students" class="row">
        <td class="col-sm-7">{{student.last_name}} {{student.first_name}} {{student.middle_name}}</td>
        <td class="col-sm-2">{{student.group}}</td>
        <td class="col-sm-1">
            <img ng-click="edit(student)" class="ico" src="resources/images/icons/13.png"/>
        </td>
        <td class="col-sm-1">
            <img ng-really-message="Вы действительно хотите отчислить студента ?" ng-really-click="archive(student)" class="ico" src="resources/images/icons/118.png"/>
        </td>
        <td class="col-sm-1">
            <img ng-show="showPromote" ng-click="promote(student)" class="ico" src="resources/images/icons/104.png"/>
            <img ng-show="showReserve" ng-really-message="Присвоить звание офицера и перенести в архив?" ng-really-click="promote(student)" class="ico" src="resources/images/icons/104.png"/>
        </td>
    </tr>
    </tbody>
</table>
<pagination ng-show="perPage<totalCount" direction-links="false" total-items="totalCount" page="pageNumber" items-per-page="perPage" on-select-page="readStudents(page)"></pagination>